#home {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-collapse: collapse;
}
#map{
  width: 50%;
}
td, th{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #333;

}
th {
  background-color: #333;
  color: #ccc;

}

body {
  background-color: #222;
  color: #fff;
}
